<div class="mainContainer">
    <div class="characterContainer">
        <img src={{character.thumbnail?.path!}}.{{character.thumbnail?.extension!}} [alt]="character.name">
        <div class="detailsContainer">
            <h1> {{ character.name }} </h1>
            <p> {{ character.description }} </p>
        </div>
    </div>
    <h1>Recommended</h1>
    <div class="bestComicContainer">
        <div class="comicImgContainer">
            <img src={{comic.thumbnail?.path!}}.{{comic.thumbnail?.extension!}} [alt]="comic.title">
        </div>
        <div class="comicDetailContainer">
            <p> {{ comic.title }} </p>
            <a href="{{'/comics/'+comic.id}}">
                <button type=button>See this Comic</button>
            </a>
        </div>
    </div>
</div>