.comicContainer {
    background-color: var(--black);
    width: 200px;
    height: 280px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0.5rem 0.2rem 0.2rem;
    transition: all 0.3s linear;
    clip-path: polygon(0% 0%, 100% 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 100%, 0% 0%);
    div {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    .imgContainer {
        height: 250px;
        overflow: hidden;
        transition: all 0.5s linear;
        img {
            width: 150px;
            height: fit-content;
            transition: all 0.3s linear;
        }
    }
    .titleContainer {
        display: flex;
        justify-content: flex-start;
        flex-flow: row;
        width: 140px;
        overflow: hidden;
        align-self: center;
        h1 {
            width: fit-content;
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: all 2s linear 0.5s;
            padding-top: 0.75rem;
        }
    }
    &:hover {
        background-color: var(--red);
        place-self: stretch stretch;
        clip-path: none;
        .titleContainer {
            h1 {
                overflow: visible;
                &:first-child {
                    transform: translateX(-100%);
                }
            }
        }
    }
}