<div class="comicContainer">
    <div class="imgContainer">
        <img src={{comic.thumbnail?.path!}}.{{comic.thumbnail?.extension!}} [alt]="comic.title">
        <marvel-button [button]="buyButton"></marvel-button>
    </div>
    <div class="detailsContainer">
        <h1> {{ comic.series?.name! }} </h1>
        <p> Pages: {{ comic.pageCount }} </p>
        <p> Issue number: {{ comic.issueNumber }} </p>
        <p> Characters:
            <span *ngFor="let character of characters"> {{character.name}}<span>,</span></span>
        </p>
        <p> {{ comic.description }} </p>
    </div>
</div>