.comicsContainer {
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-template-rows: auto;
    grid-gap: 3rem 1rem;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
}

@media screen and (min-width: 580px) {
    .comicsContainer {
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    }
}

@media screen and (min-width: 720px) {
    .comicsContainer {
        grid-template-columns: 18.5% 18.5% 18.5% 18.5% 18.5%;
    }
}

@media screen and (min-width: 860px) {
    .comicsContainer {
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
    }
}

@media screen and (min-width: 1080px) {
    .comicsContainer {
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    }
}